<!DOCTYPE>
<html ng-app="nodeApp">
    <head>
        <meta name="" content="" charset="utf-8">
        <title>Index Express</title>
        <!-- Librerias Boostrap -->
        <link rel="stylesheet" type="" href="bootstrap/css/bootstrap.css">
        <script src="boostrap/js/bootstrap.js"></script>
        <!-- Librerias Angular -->
        <script src="angular/libs/angular.js"></script>
        <script src="angular/libs/angular-route.js"></script>    
        <script src="angular/node.js"></script>   
    </head>
    <body ng-controller="nodeController" ng-view>
        <h1>{{nombre}}</h1>
         Mi Primera llamada a una pagina html
        <button type="button" class="btn btn-large btn-block btn-danger">button</button>
        
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Title!</strong> Alert body ...
        </div>       
    </body>
</html>